<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJPost</title>
</head>
<body>
    <h1> DJango 網站 </h1>
        <form method="post" action="/djpost">
            {% csrf_token %}
            <p> 帳號 : <input type="text" name="username" /></p>
            <p> 密碼 : <input type="text" name="password" /></p>
            <p><button type="submit"> 確定 <button></p>
            
        </form>
</body>
</html>